<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IListasServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Rendugel.Servicios.Host/ListasService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListasServicio"
                contract="IListasServicio" name="BasicHttpBinding_IListasServicio" />
        </client>
    </system.serviceModel>
</configuration>